/target
Converted_Preset.taldrum
Young Blood 808.taldrum
Extra Files/A440_sine_16sec.wav
Extra Files/A440_square_16sec.wav
Extra Files/DC_16sec.wav
Extra Files/Inphonik.RX1200.v1.1.0.x64.VST-BTCR.7z
Extra Files/RX Parameters.txt
Extra Files/script.py
